@font-face {
	font-family: 'lilyicons';
	src: url("./glyphs.woff") format("woff");
}

.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	overflow: hidden;
}

body {
	background-color: #FAFFFA;
	font-family: 'courier';
	min-width: 800px;
	min-height: 600px;
}

* {
	box-sizing: border-box;
}

.lilyheader {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 70px;
	background-color: #33CC33;
	border-bottom: 1px solid #006600;
	box-shadow: 0px 3px 5px -2px #555555;
	z-index: 10;
}

	.lilyheader h1 {
		color: white;
		font-size: 42pt;
		margin: 0px;
		margin-left: 24px;
		text-shadow: 0px 0px 6px #006600;
		display: inline-block;
	}

	.lilyheader h2 {
		display: inline-block;
		font-size: 24pt;
		margin-left: 24px;
		text-shadow: 0px 0px 3px #006600;
		color: #EEEEEE;
	}

	.lilyheader .lilyheaderbutton {
		display: inline-block;
		width: 48px;
		height: 48px;
		border-radius: 24px;
		font-size: 24pt;
		color: white;
		background-color: #006600;
		text-align: center;
		line-height: 48px;
		transform-origin: 50% 50%;
		border: 1px solid #003300;
		box-shadow: 0px 0px 6px 0px #006600;
		transition: 0.05s ease-in-out all;
		cursor: pointer;
	}

	.lilyheader .lilyheaderbutton:hover {
		background-color: #003300;
		box-shadow: 0px 0px 8px 4px #006600;
	}

	.lilyheader .lilyheaderbutton:active {
		transform: scale(0.95);
		box-shadow: 0px 0px 4px 0px #006600;
	}

	#headerHelpButton {
		float: right;
		margin-right: 24px;
		margin-top: 8px;
	}

.lilymain {
	position: absolute;
	left: 0px;
	top: 70px;
	height: calc(100% - 120px);
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

@keyframes animatemain {
	0% {
		transform: translateX(200px) scale(0.8);
		opacity: 0.4;
	}

	100% {
		transform: translateX(0px) scale(1.0);
		opacity: 1;
	}
}

.doMainAnimation {
	animation: animatemain 0.2s ease-in-out;
}

.lilyfooter {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #33CC33;
	border-top: 1px solid #006600;
	box-shadow: 0px -3px 5px -2px #555555;
	z-index: 10;
}

	.lilyfooter .lilyfooterbutton {
		display: inline-block;
		min-width: 150px;
		height: 40px;
		border-radius: 4px;
		font-size: 18pt;
		color: white;
		background-color: #006600;
		text-align: center;
		line-height: 42px;
		transform-origin: 50% 50%;
		border: 1px solid #003300;
		box-shadow: 0px 0px 4px 0px #006600;
		transition: 0.05s ease-in-out all;
		margin-top: 4px;
		margin-right: 4px;
		margin-left: 4px;
		padding-left: 8px;
		padding-right: 8px;
		cursor: pointer;
		z-index: 15;
	}

		.lilyfooter .lilyfooterbutton:hover {
			background-color: #003300;
			box-shadow: 0px 0px 6px 2px #006600;
		}

		.lilyfooter .lilyfooterbutton:active {
			transform: scale(0.95);
			box-shadow: 0px 0px 2px 0px #006600;
		}

	.lilyfooter .passive {
		font-size: 11pt;
		color: black;
		text-shadow: 0px 0px 3px #006600;
		position: absolute;
		bottom: 0px;
		left: 25%;
		width: 50%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		transform-origin: 50% 50%;
		transition: 0.3s ease-in-out all;
	}

	.lilyfooter .passive.passiveHide {
		opacity: 0;
		transform: scale(0.1) translateY(80px);
	}

	.lliyfooter .passive.passiveShow {
		opacity: 1;
		transform: scale(1.0);
	}

#launchPage, #testingPage {
	padding: 12px;
}

.padbox {
	display: inline-block;
	width: 294px;
	height: 184px;
	margin: 12px;
	padding: 12px;
	box-shadow: 0px 0px 5px 0px #555555;
	position: relative;
	transform-origin: 50% 50%;
	transition: 0.1s ease-in-out all;
	border-radius: 4px;
}

	.padbox .padboxname {
		color: white;
		font-size: 28pt;
		position: absolute;
		left: 18px;
		bottom: 12px;
		width: 80%;
		text-shadow: 0px 0px 2px #555555;
		transform-origin: 0% 100%;
		transition: 0.1s ease-in-out all;
	}

	.padbox:hover .padboxname {
		font-size: 14pt;
		left: 12px;
		bottom: 6px;
	}

	.padbox .padboxplaybutton, .padbox .padboxeditbutton {
		color: white;
		font-size: 55pt;
		position: absolute;
		text-shadow: 0px 0px 4px #555555;
		transform-origin: 50% 50%;
		transition: 0.1s ease-in-out all;
		opacity: 0;
		visibility: hidden;
		cursor: pointer;
		z-index: 6;
		height: 120px;
		font-family: 'lilyicons';
	}

	.padbox .padboxplaybutton {
		top: 24px;
		right: 36px;
	}

	.padbox .padboxeditbutton {
		top: 24px;
		left: 36px;
	}

	.padbox:hover .padboxplaybutton, .padbox:hover .padboxeditbutton {
		opacity: 1;
		visibility: visible;
	}

	.padbox .padboxplaybutton:hover, .padbox .padboxeditbutton:hover {
		transform: scale(1.25);
		text-shadow: 0px 0px 6px #555555;
	}

	.padbox .padboxplaybutton:active, .padbox .padboxeditbutton:active {
		transform: scale(1.15);
		text-shadow: 0px 0px 6px #555555;
	}

	.padbox .padboxlabels {
		transition: 0.1s ease-in-out all;
		opacity: 0;
		visibility: hidden;
		font-size: 9pt;
		color: white;
		position: absolute;
		left: 42px;
		top: 120px;
		width: 212px;
		font-weight: bold;
	}

	.padbox:hover .padboxlabels {
		visibility: visible;
		opacity: 1;
	}

.launchPageWelcome {
	padding-left: 36px;
	width: 70%;
	font-size: 16pt;
}

	.launchPageWelcome #launchPageWelcomeHeader {
		font-size: 64pt;
		color: #003300;
		text-shadow: 0px 0px 5px #33CC33;
	}

.editPageWelcome {
	margin-left: 15%;
	width: 70%;
	font-size: 12pt;
}

	.editPageWelcome #editPageWelcomeHeader {
		font-size: 32pt;
		color: #003300;
		text-shadow: 0px 0px 1px #33CC33;
	}

.editHeader {
	width: 100%;
	padding: 16px;
	border-bottom: 1px dotted #006600;
	text-align: center;
}

	.editHeaderName, .colorPickerHost {
		box-shadow: 0px 0px 4px 0px #555555;
	}

	.editHeader .editHeaderName {
		width: 60%;
		max-width: 600px;
		min-width: 200px;
		height: 40px;
		display: inline-block;
		border-radius: 4px;
		border: 1px solid #006600;
		background: white;
		vertical-align: bottom;
		margin-right: 12px;
		padding-left: 12px;
		font-size: 18pt;
	}

		.editHeader .editHeaderName:focus {
			box-shadow: 0px 0px 8px 0px #555555;
			border-color: #33CC33;
		}

	.editHeader .colorPickerHost {
		width: auto;
		height: 40px;
		border-radius: 4px;
		border: 1px solid #006600;
		display: inline-block;
		background: white;
		vertical-align: bottom;
		padding-left: 3px;
		padding-right: 3px;
	}

	.colorBlob {
		width: 32px;
		height: 32px;
		border-radius: 4px;
		display: inline-block;
		margin: 3px;
		opacity: 0.6;
		transform-origin: 50% 50%;
		transform: scale(0.8);
		transition: 0.075s ease-in-out all;
		box-shadow: 0px 0px 1px 0px #555555;
		cursor: pointer;
	}

	.colorBlob:hover {
		transform: scale(1.1);
		opacity: 1;
	}

	.colorBlob.activeColorBlob {
		opacity: 1;
		transform: scale(1.0);
	}

	.colorBlob.activeColorBlob:hover {
		opacity: 1;
		transform: scale(1.1);
	}

	.colorBlob:active {
		transform: scale(1.05) rotate(-6deg);
	}

.editFooter {
	width: 70%;
	height: 40px;
	position: fixed;
	bottom: 58px;
	left: 15%;
	background-color: #33CC33;
	border: 1px solid #003300;
	border-radius: 4px;
	box-shadow: 0px 0px 6px 0px #555555;
	z-index: 10;
	text-align: center;
}

	.editFooter #editURLWrapper {
		display: inline-block;
		width: 32%;
		height: 32px;
		margin-top: 3px;
		margin-bottom: 3px;
		position: relative;
	}

	.editFooter #editURL {
		font-size: 14pt;
		width: 100%;
		height: 100%;
		padding-left: 6px;
		border-radius: 4px;
		border: 1px solid #003300;
		padding-right: 32px;
		box-shadow: inset 0px 0px 3px 0px #555555;
	}

	.editFooter #editURLGo {
		position: absolute;
		right: 4px;
		top: 2px;
		font-family: 'lilyicons';
		color: #006600;
		font-size: 18pt;
		cursor: pointer;
		transform-origin: 50% 50%;
		transition: 0.07s ease-in-out all;
	}

		.editFooter #editURLGo:hover {
			color: #003300;
			text-shadow: 0px 0px 3px #555555;
		}

		.editFooter #editURLGo:active {
			transform: scale(0.9);
			text-shadow: 0px 0px 5px #555555;
		}

	.editFooter #editFiles, .editFooter #editStandalone {
		display: inline-block;
		width: 32%;
		margin-top: 3px;
		margin-bottom: 3px;
		border-radius: 4px;
		border: 1px solid #003300;
		background-color: white;
		line-height: 32px;
		height: 32px;
		vertical-align: bottom;
		text-align: center;
		box-shadow: inset 0px 0px 3px 0px #555555;
		transform-origin: 50% 50%;
		transition: 0.07s ease-in-out all;
	}

	.editFooter #editFiles:hover, .editFooter #editStandalone:hover {
		background-color: #006600;
		color: white;
		box-shadow: inset 0px 0px 3px 0px #003300;
	}

	.editFooter #editFiles:active, .editFooter #editStandalone:active {
		background-color: #003300;
		color: white;
		box-shadow: inset 0px 0px 6px 0px #101010;
		transform: scalex(0.98) scaley(0.95);
	}

.editBody {
	width: 100%;
	margin-bottom: 58px;
	margin-top: 18px;
}

.padEntry {
	width: 70%;
	margin-left: 15.5%;
	margin-bottom: 12px;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 6px;
	padding: 8px;
	transform-origin: 50% 50%;
	transition: 0.1s ease-in-out all;
}

	.padEntry:hover {
		background-color: white;
		border: 1px solid #006600;
		box-shadow: 0px 0px 4px 0px #555555;
	}

	.padEntryHeaderLeft {
		display: inline-block;
	}

	.padEntry .padEntryHeader {
		border-bottom: 1px solid #006600;
		position: relative;
		margin-bottom: 12px;
	}

	.padEntry .padEntryIcon {
		font-family: 'lilyicons';
		font-size: 18pt;
		color: #006600;
		display: inline-block;
		text-shadow: 0px 0px 3px #555555;
		cursor: pointer;
		transition: 0.07s ease-in-out all;
		transform-origin: 50% 50%;
		opacity: 0;
		position: absolute;
		bottom: 10px;
	}

	.padEntry:hover .padEntryIcon {
		opacity: 1;
	}

		.padEntry .padEntryIcon:hover {
			color: #003300;
			text-shadow: 0px 0px 5px #555555;
		}

		.padEntry .padEntryIcon:active {
			transform: scale(0.9);
		}

	.padEntry .padEntryTitle {
		font-size: 26pt;
		display: inline-block;
		margin-right: 12px;
		position: relative;
		text-shadow: 0px 0px 2px #555555;
	}

	.padEntry .padEntryLogo {
		width: 36px;
		height: 36px;
		display: inline-block;
		margin-left: 12px;
		margin-right: 12px;
	}

	.padEntryRight {
		position: absolute;
		right: 12px;
	}

.padEntryBody {
	margin-bottom: 6px;
}

.padEntryBody .padEntryFile {
	width: 95%;
	margin-left: 2.5%;
	position: relative;
	transition: 0.1s ease-in-out all;
	padding: 6px;
	border: 1px solid rgba(0,0,0,0);
}

	.padEntryBody .padEntryFile:hover {
		border: 1px solid #006600;
		border-radius: 4px;
		box-shadow: 0px 0px 3px 0px #555555;
	}

.padEntryBody .padEntryFileName {
	font-size: 12pt;
	display: inline-block;
}

.padEntryBody .padEntryFileButtons {
	position: absolute;
	right: 6px;
	display: inline-block;
}

	.padEntryBody .padEntryFileIcon {
		font-family: 'lilyicons';
		font-size: 12pt;
		color: #006600;
		display: inline-block;
		text-shadow: 0px 0px 2px #555555;
		cursor: pointer;
		transition: 0.07s ease-in-out all;
		transform-origin: 50% 50%;
		opacity: 0;
		margin-left: 8px;
	}

	.padEntryFile:hover .padEntryFileIcon {
		opacity: 1;
	}

		.padEntryBody .padEntryFileIcon:hover {
			color: #003300;
			text-shadow: 0px 0px 4px #555555;
		}

		.padEntryBody .padEntryFileIcon:active {
			transform: scale(0.9);
		}

@keyframes overlaypopin {
	0% {
		opacity: 0;
		transform: scale(0.05);
	}

	20% {
		opacity: 0.25;
		transform: scale(0.3);
	}

	80% {
		opacity: 0.75;
		transform: scale (0.8);
	}

	95% {
		opacity: 0.9;
		transform: scale(1.05);
	}

	100% {
		opacity: 1;
		transform: scale(1.0);
	}
}

.overlay {
	padding: 12px;
	position: absolute;
	z-index: 100;
	border-radius: 4px;
	border: 1px solid #006600;
	background: rgba(255,255,255,0.8);
	width: 60%;
	height: 60%;
	left: 20%;
	top: 20%;
	box-shadow: 0px 0px 10px 4px #003300;
	transform-origin: 50% 50%;
	transition: 0.1s ease-in-out all;
}

.overlayforward {
	animation: overlaypopin 0.3s ease-in-out;
}

.overlayreverse {
	animation: overlaypopin 0.3s ease-in-out;
	animation-direction: reverse;
}

.clickeater {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 99;
}

.hidden {
	display: none !IMPORTANT;
}